@charset "utf-8";

/* ------------------------------------------------------- 
  Basic Layout
  -------------------------------------------------------- */

@import url('/common/css/base.min.css');


/* ------------------------------------------------------- 
  Lower Layout
  -------------------------------------------------------- */

@import url('/common/css/lower.min.css');


/* ------------------------------------------------------- 
  About Layout
  -------------------------------------------------------- */
.about {
}
.about article {
}
.about article h1,
.about article p,
.about article li,
.about article dt,
.about article dd {
	font-size:123.1%;
	line-height:1.7;
}
.about article header + p,
.about article header + ul {
	margin-top:1.8%;
}
.about article dl {
	margin-top:1%;
}
.about article dl dt {
	font-weight:bold;
}
.about article dl dd {
	margin-left:1em;
}
.about article dl dd ul li {
	margin-left:1.6em;
	list-style:disc;
}
.about article p img {
	width:auto;
	display:inline;
}
.about article section {
	margin-top:2.2%;
}
.about article section h1 {
	color:#009fe8;
	font-weight:bold;
}
.about article li {
	margin-left:1.8em;
	list-style:disc;
}
.about article li li {
	font-size:100%;
	list-style:decimal;
}

/* ==============================
　　.policy
 ============================= */

.about article.policy p:last-child {
	text-align:right;
	font-size:108%;
}

@media (max-width: 640px) {
	
	
}










